ul {
  list-style:none;
  padding: 0 10px 0 10px;
}
li {
  padding: 10px 0 10px 0;
  border-bottom: 1px solid #e6e6e6;
}
.row {
  display: table;
  width: 100%;
}
.img {
  display: table-cell;
  text-align: center;
  vertical-align: top;
  width: 150px;
}
.name {
  display: table-cell;
  vertical-align: middle;
  font-size: 20px;
  padding-left: 10px;
}
